{% set dataTableColumns = '[{ "orderSequence": [ "desc", "asc" ] }, null, { "orderSequence": [ "desc", "asc" ] }, { "orderSequence": [ "desc", "asc" ] }, null]' %}
{% set dataTableOrder = '[[ 3, "desc" ]]' %}
{% set dataTableId = 'memberFolderTable' %}

{% if user.folders|length > 0 %}
    {# if user is current user #}
    {% if user.id is same as(current_user()) %}
    <div class="mb-2 mb-md-0 text-center">
        <a href="#" data-create-folder="{{ path_for('api-create-folder-' ~ glc) }}" data-get-access-list="{{ path_for('api-get-access-list-' ~ glc) }}" data-toggle="modal" data-target="#create-folder" class="btn btn-success btn-sm btn-create-folder overlay" tabindex="-1" role="button" aria-disabled="true">{{ 'create-folder'|trans }}</a>
    </div>
    {% endif %}

    <div class="table-responsive">
        <table id="{{ dataTableId }}" class="table table-striped table-dark data-table" data-order='{{ dataTableOrder }}' data-columns='{{ dataTableColumns }}'>
            <thead>
                <tr>
                    <th scope="col"><span class="text-nowrap">{{ 'folder-access'|trans }}</span></th>
                    <th scope="col"><span class="text-nowrap">{{ 'folder-name'|trans }}</span></th>
                    <th scope="col"><span class="text-nowrap">{{ 'files'|trans }}</span></th>
                    <th scope="col"><span class="text-nowrap">{{ 'created-at'|trans }}</span></th>
                    <th scope="col" data-orderable="false" class="text-center"><span class="text-nowrap">{{ 'remove'|trans }}</span></th>
                </tr>
            </thead>
            <tbody>
            {# loop through database records #}
            {% for folder in user.folders %}
                <tr id="folder-{{ folder.id }}">
                    <td data-order="{{ folder.accessId }}" class="td-access">
                        <a href="{{ path_for('folder-access-' ~ lc, { 'uuid': folder.id }) ~ returnUrl }}" class="btn btn-{{ folder.access.button }} btn-sm btn-access mr-2" tabindex="-1" role="button" aria-disabled="true" data-toggle="tooltip" data-placement="top" title="{{ (folder.access.name ~ '-folder')|trans }}"><i class="fas fa-{{ folder.access.icon }} fa-fw"></i></a>
                        <span class="d-inline-block" data-toggle="tooltip" data-placement="top" title="{{ 'update-folder'|trans }}"><a href="#" data-folder-id="{{ folder.id }}" data-get-folder="{{ path_for('api-get-folder-' ~ glc, { 'uuid': folder.id }) }}" data-update-folder="{{ path_for('api-update-folder-' ~ glc, { 'uuid': folder.id }) }}" data-toggle="modal" data-target="#update-folder" class="btn btn-success btn-sm btn-update-folder" tabindex="-1" role="button" aria-disabled="true"><i class="fas fa-pen fa-fw"></i></a></span>
                    </td>
                    <td><a href="{{ path_for('folder-show-' ~ lc, { 'uuid': folder.id }) }}" class="current text-nowrap detail-link" tabindex="-1" role="button" aria-disabled="true" data-toggle="tooltip" data-placement="top" title="{{ 'show-folder'|trans }}">{{ folder.name }}</a></td>
                    <td>{{ folder.fileJoins|length }}</td>
                    <td data-order="{{ folder.createdAt|date('c') }}"><span class="text-nowrap">{{ folder.createdAt|date('datetime'|trans, 'timezone'|trans) }}</span></td>
                    <td data-order="0" class="text-center"><a href="{{ path_for('folder-remove-' ~ lc, { 'uuid': folder.id }) ~ returnUrl }}" class="btn btn-danger btn-sm" tabindex="-1" role="button" aria-disabled="true" data-remove='{{ 'folder'|trans }}: "{{ folder.name }}"' data-toggle="tooltip" data-placement="top" title="{{ 'remove'|trans }}"><i class="fas fa-trash fa-fw"></i></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    {# if user is current user #}
    {% if user.id is same as(current_user()) %}
    <div class="mb-2 text-center">
        <a href="#" data-create-folder="{{ path_for('api-create-folder-' ~ glc) }}" data-get-access-list="{{ path_for('api-get-access-list-' ~ glc) }}" data-toggle="modal" data-target="#create-folder" class="btn btn-success btn-sm btn-create-folder" tabindex="-1" role="button" aria-disabled="true">{{ 'create-folder'|trans }}</a>
    </div>
    {% endif %}

    <h4>{{ 'no-folders'|trans }}</h4>
{% endif %}
