<div class="modal fade" id="cookie-policy" tabindex="-1" role="dialog" aria-labelledby="cookie-policy-title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cookie-policy-title">{{ 'cookie-policy-title'|trans }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ 'cookie-policy-text'|trans|raw }}
                
                <div class="table-responsive mt-3">
                    <table class="table table-striped table-dark">
                        <thead>
                            <tr>
                                <th scope="col"><span class="text-nowrap">Name</span></th>
                                <th scope="col"><span class="text-nowrap">Anbieter</span></th>
                                <th scope="col"><span class="text-nowrap">Zweck</span></th>
                                <th scope="col"><span class="text-nowrap">Ablauf</span></th>
                                <th scope="col"><span class="text-nowrap">Typ</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>PHPSESSID</td>
                                <td>{{ base_url() }}/</td>
                                <td>Beh채lt die Zust채nde des Benutzers bei allen Seitenanfragen bei.</td>
                                <td>Session</td>
                                <td>HTTP</td>
                            </tr>
                            <tr>
                                <td>auto_detect</td>
                                <td>{{ base_url() }}/</td>
                                <td>Wird gesetzt, wenn der Benutzer auf seine bevorzugte Sprache umgeleitet wurde.</td>
                                <td>Session</td>
                                <td>HTTP</td>
                            </tr>
                            <tr>
                                <td>cookieconsent_status</td>
                                <td>{{ base_url() }}/</td>
                                <td>Speichert den Zustimmungsstatus des Benutzers f체r Cookies auf der aktuellen Dom채ne.</td>
                                <td><span class="text-nowrap">1 Jahr</span></td>
                                <td>HTTP</td>
                            </tr>
                            <tr>
                                <td>current_locale</td>
                                <td>{{ base_url() }}/</td>
                                <td>Speichert in welcher Sprache die Webseite angezeigt wird.</td>
                                <td><span class="text-nowrap">1 Jahr</span></td>
                                <td>HTTP</td>
                            </tr>
                            <tr>
                                <td>1P_JAR</td>
                                <td>google.com</td>
                                <td></td>
                                <td><span class="text-nowrap">1 Monat</span></td>
                                <td>HTTP</td>
                            </tr>
                            <tr>
                                <td>CONSENT</td>
                                <td>google.com</td>
                                <td></td>
                                <td><span class="text-nowrap">20 Jahre</span></td>
                                <td>HTTP</td>
                            </tr>
                            <tr>
                                <td>NID</td>
                                <td>google.com</td>
                                <td></td>
                                <td><span class="text-nowrap">6 Monate</span></td>
                                <td>HTTP</td>
                            </tr>
                            <tr>
                                <td>OGPC</td>
                                <td>google.com</td>
                                <td></td>
                                <td><span class="text-nowrap">1 Monat</span></td>
                                <td>HTTP</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
