<div class="row my-3 navigation">
    <div class="col-12 col-sm-3 col-lg-6">
        <a class="{% if is_current_path('page-index' ~ lk) %}current{% endif %}" href="{{ path_for('page-index' ~ lk) }}"><i class="fas fa-home"></i></a>
    </div>
    <div class="col-12 col-sm-9 col-lg-6 text-sm-right">
        {% include('partials/langswitch.html.twig') %}
        {% if has_role({0: 'member', 1: 'admin', 2: 'superadmin'}) %}
            <span class="pl-3"></span>
            {% if has_role({0: 'superadmin'}) %}
                <a class="{% if is_current_path('file-extension-show' ~ lk) %}current{% endif %}" href="{{ path_for('file-extension-show' ~ lk) }}" data-toggle="tooltip" data-placement="bottom" title="{{ 'file-extension-show-label'|trans }}"><i class="fas fa-file"></i></a> &#124;
                <a class="{% if is_current_path('file-extension-create' ~ lk) %}current{% endif %}" href="{{ path_for('file-extension-create' ~ lk) }}" data-toggle="tooltip" data-placement="bottom" title="{{ 'file-extension-create-label'|trans }}"><i class="fas fa-file-medical"></i></a> &#124;
                <a class="{% if is_current_path('user-show-all' ~ lk) %}current{% endif %}" href="{{ path_for('user-show-all' ~ lk) }}" data-toggle="tooltip" data-placement="bottom" title="{{ 'user-show-all-label'|trans }}"><i class="fas fa-users"></i></a> &#124;
                <a class="{% if is_current_path('user-create' ~ lk) %}current{% endif %}" href="{{ path_for('user-create' ~ lk) }}" data-toggle="tooltip" data-placement="bottom" title="{{ 'user-create-label'|trans }}"><i class="fas fa-user-plus"></i></a> &#124;
            {% endif %}
            <a class="{% if is_current_path('user-show' ~ lk, { 'name': name }) or is_current_path('user-show' ~ lk) %}current{% endif %}" href="{{ path_for('user-show' ~ lk) }}" data-toggle="tooltip" data-placement="bottom" title="{{ 'user-show-label'|trans }}"><i class="fas fa-user"></i></a> &#124;
            <a href="{{ path_for('user-logout' ~ lk) }}" data-toggle="tooltip" data-placement="bottom" title="{{ 'user-logout-label'|trans }}"><i class="fas fa-sign-out-alt"></i></a>
        {% endif %}
    </div>
</div>