{% extends "layouts/layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-12 text-center mb-5">
            {% if file %}
                {% if file.public or file.user.id == current_user() %}
                    <h1 class="mb-3">{{ file.name }} <a href="{{ path_for('file-download' ~ lk, { 'uuid': file.id }) }}" class="btn btn-primary btn-sm" tabindex="-1" role="button" aria-disabled="true" data-toggle="tooltip" data-placement="top" title="{{ 'download'|trans }}"><i class="fas fa-download fa-fw"></i></a></h1>
                    <div class='mb-3'>
                        <span data-toggle="tooltip" data-placement="top" title="{{ 'owner'|trans }}"><i class="fas fa-user"></i> <a href="{{ path_for('user-show' ~ lk, { 'name': file.user.name }) }}">{{ file.user.name }}</a></span> &#124;
                        <span data-toggle="tooltip" data-placement="top" title="{{ 'file-size'|trans }}"><i class="fas fa-database"></i> {{ (file.size / 1000)|number_format(2, 'dp'|trans, 'ts'|trans) }} KB</span> &#124;
                        <span data-toggle="tooltip" data-placement="top" title="{{ 'created-at'|trans }}"><i class="fas fa-clock"></i> {{ file.createdAt|date('datetime'|trans) }}</span>
                    </div>

                    {% if file.extension.fileType.name == 'image' %}
                        <img src="{{ base64Source }}" class="img-fluid" />
                    {% endif %}
                    
                    {% if file.extension.fileType.name == 'audio' %}
                        <audio controls>
                            <source src="{{ base64Source }}" type="{{ file.mimeType }}">
                            {{ 'no-audio-support'|trans }}
                        </audio>
                    {% endif %}
                    
                    {% if file.extension.fileType.name == 'video' %}
                        <div class="embed-responsive embed-responsive-16by9">
                            <video class="embed-responsive-item" controls>
                                <source src="{{ base64Source }}" type="{{ file.mimeType }}">
                                {{ 'no-video-support'|trans }}
                            </video> 
                        </div>
                    {% endif %}
                {% else %}
                    <div class="alert alert-danger text-center" role="alert">
                        {{ 'file-not-accessible'|trans }}
                    </div>
                {% endif %}
            {% else %}
                <div class="alert alert-danger text-center" role="alert">
                    {{ 'file-not-exists'|trans }}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}