{% extends "layouts/layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-12 text-center mb-5 file-show">
            {% if file %}
                {% if file.hidden == 0 or file.user.id == current_user() or has_role({0: 'superadmin'}) %}
                    <h1 class="mb-3">{{ file.name }} <a href="{{ path_for('file-download-' ~ glc, { 'uuid': file.id }) }}" class="btn btn-primary btn-sm" tabindex="-1" role="button" aria-disabled="true" data-toggle="tooltip" data-placement="top" title="{{ 'download'|trans }}"><i class="fas fa-download fa-fw"></i></a></h1>
                    <div class='mb-3'>
                        <span data-toggle="tooltip" data-placement="top" title="{{ 'owner'|trans }}"><i class="fas fa-user"></i> <a href="{{ path_for('user-show-' ~ lc, { 'name': file.user.name }) }}" class="current">{{ file.user.name }}</a></span> &#124;
                        <span data-toggle="tooltip" data-placement="top" title="{{ 'file-size'|trans }}"><i class="fas fa-database"></i> {{ file.size|file_size(2, 'dp'|trans, 'ts'|trans) }}</span> &#124;
                        <span data-toggle="tooltip" data-placement="top" title="{{ 'created-at'|trans }}"><i class="fas fa-clock"></i> {{ file.createdAt|date('datetime'|trans, 'timezone'|trans) }}</span> &#124;
                        {% if file.hidden %}
                            <span data-toggle="tooltip" data-placement="top" title="{{ 'locked'|trans }}"><i class="fas fa-lock fa-fw"></i></span>
                        {% else %}
                            <span data-toggle="tooltip" data-placement="top" title="{{ 'unlocked'|trans }}"><i class="fas fa-unlock fa-fw"></i></span>
                        {% endif %}
                    </div>

                    {% if file.extension.fileType.name == 'text' %}
                        {{ source|nl2br }}
                    {% endif %}

                    {% if file.extension.fileType.name == 'image' %}
                        <img src="data:{{ file.mimeType }};base64,{{ source }}" class="img-fluid" />
                    {% endif %}
                    
                    {% if file.extension.fileType.name == 'audio' %}
                        <audio controls>
                            <source src="data:{{ file.mimeType }};base64,{{ source }}" type="{{ file.mimeType }}">
                            {{ 'no-audio-support'|trans }}
                        </audio>
                    {% endif %}
                    
                    {% if file.extension.fileType.name == 'video' %}
                        <div class="embed-responsive embed-responsive-16by9">
                            <video class="embed-responsive-item" controls>
                                <source src="data:{{ file.mimeType }};base64,{{ source }}" type="{{ file.mimeType }}">
                                {{ 'no-video-support'|trans }}
                            </video> 
                        </div>
                    {% endif %}
                    
                    {% if file.file %}
                        <div class="row justify-content-center">
                            <div class="col-12 col-md-7 col-lg-5 text-left my-3">
                                {{ childSource|nl2br }}
                            </div>
                        </div>
                    {% endif %}
                {% else %}
                    <div class="alert alert-danger text-center" role="alert">
                        {{ 'file-not-accessible'|trans }}
                    </div>
                {% endif %}
            {% else %}
                <div class="alert alert-danger text-center" role="alert">
                    {{ 'file-not-exists'|trans }}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}