{% htmlcompress %}
<div class="modal fade" id="update-file" tabindex="-1" role="dialog" aria-labelledby="update-file-title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="update-file-title">{{ 'update-file'|trans }}</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <label for="update-file-name" class="col-form-label">{{ 'file-name'|trans }}:</label>
                    <input type="text" class="form-control" id="update-file-name" autocomplete="off" />

                    <div class="form-floating mt-2 mb-2">
                        <textarea class="form-control" placeholder="{{ 'note'|trans }}" id="update-file-note" name="update-file-note"></textarea>
                        <label for="textarea-note">{{ 'note'|trans }}</label>
                    </div>

                    <div class="mb-2">{{ 'folder'|trans }}: </div>
                    <div class="btn-group-toggle btn-group-checkbox btn-group-folder placeholder-glow" data-bs-toggle="buttons"></div>

                    <div class="mb-2">{{ 'access'|trans }}: </div>
                    <div class="btn-group-toggle btn-group-radio btn-group-access placeholder-glow" data-bs-toggle="buttons"></div>
                </form>
            </div>
            <div class="modal-footer">
            {# if user is current user #}
            {% if user.id is same as(current_user()) %}
                <span class="d-inline-block float-left" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ 'create-folder'|trans }}"><a href="#" data-create-folder="{{ path_for('api-create-folder-' ~ glc) }}" data-get-access-list="{{ path_for('api-get-access-list-' ~ glc) }}" data-file-id="" data-bs-toggle="modal" data-bs-target="#create-folder" class="btn btn-success btn-create-folder" tabindex="-1" role="button" aria-disabled="true"><i class="fas fa-fw fa-md fa-folder-plus"></i></a></span>
            {% endif %}
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ 'close'|trans }}</button>
                <button type="button" class="btn btn-primary submit-form" disabled>{{ 'save'|trans }} <i class="fas fa-spin fa-sync-alt"></i></button>
            </div>
        </div>
    </div>
</div>
{% endhtmlcompress %}
