{% set naviClassesOne = 'col-6 col-lg-9' %}
{% set naviClassesTwo = 'col-6 col-lg-3' %}

{% if has_role({0: 'member', 1: 'admin', 2: 'superadmin'}) %}
    {% set naviClassesOne = 'col-6 col-lg-5' %}
    {% set naviClassesTwo = 'col-12 col-lg-7' %}
{% endif %}

{% htmlcompress %}
<div class="row my-3 navigation">
    <div class="{{ naviClassesOne }}">
        <a class="me-2 {% if is_current_path('page-index-' ~ glc) %}current{% endif %}" href="{{ path_for('page-index-' ~ glc) }}"><i class="fas fa-home"></i></a>
    {% if has_role('guest') %}
        <a class="me-2 {% if is_current_path('user-register-' ~ lc) %}current{% endif %}" href="{{ path_for('user-register-' ~ lc) }}"><i class="fas fa-sign-in-alt"></i></a>
    {% endif %}
        
    {# if user is logged in #}
    {% if currentUser %}
        <a href="{{ path_for('user-show-' ~ lc, { 'name': currentUser.name }) }}" class="current">{{ currentUser.name }}</a>
    {% endif %}
    </div>
    <div class="{{ naviClassesTwo }} text-md-end d-none d-lg-block">
        {% include('partial/langswitch.html.twig') %}
    {% if has_role({0: 'member', 1: 'admin', 2: 'superadmin'}) %}
        <span class="ps-3"></span>
        {% if has_role({0: 'superadmin'}) %}
            <a class="{% if is_current_path('file-extension-show-' ~ lc) %}current{% endif %}" href="{{ path_for('file-extension-show-' ~ lc) }}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ 'file-extension-show-label'|trans }}"><i class="fas fa-file"></i></a> &#124;
            <a class="{% if is_current_path('file-extension-create-' ~ lc) %}current{% endif %}" href="{{ path_for('file-extension-create-' ~ lc) }}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ 'file-extension-create-label'|trans }}"><i class="fas fa-file-medical"></i></a> &#124;
            <a class="{% if is_current_path('user-show-all-' ~ lc) %}current{% endif %}" href="{{ path_for('user-show-all-' ~ lc) }}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ 'user-show-all-label'|trans }}"><i class="fas fa-users"></i></a> &#124;
            <a class="{% if is_current_path('user-register-' ~ lc) %}current{% endif %}" href="{{ path_for('user-register-' ~ lc) }}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ 'user-create-label'|trans }}"><i class="fas fa-user-plus"></i></a> &#124;
            <a class="{% if is_current_path('page-system-' ~ glc) %}current{% endif %}" href="{{ path_for('page-system-' ~ glc) }}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ 'page-system-label'|trans }}"><i class="fas fa-microchip"></i></a> &#124;
            <a class="{% if is_current_path('page-log-' ~ glc) %}current{% endif %}" href="{{ path_for('page-log-' ~ glc) }}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ 'page-log-label'|trans }}"><i class="fas fa-clipboard-list"></i></a> &#124;
        {% endif %}
        
        {% if name %}
            <a class="{% if is_current_path('user-show-' ~ lc, { 'name': name }) %}current{% endif %}" href="{{ path_for('user-show-' ~ lc, { 'name': name }) }}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ 'user-show-label'|trans }}"><i class="fas fa-user"></i></a> &#124;
        {% elseif currentUser %}
            <a class="{% if is_current_path('user-show-' ~ lc, { 'name': currentUser.name }) %}current{% endif %}" href="{{ path_for('user-show-' ~ lc, { 'name': currentUser.name }) }}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ 'user-show-label'|trans }}"><i class="fas fa-user"></i></a> &#124;
        {% endif %}
        
        {% if name and has_role({0: 'superadmin'}) %}
            <a class="{% if is_current_path('user-settings-' ~ lc, { 'name': name }) %}current{% endif %}" href="{{ path_for('user-settings-' ~ lc, { 'name': name }) }}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ 'user-settings-label'|trans }}"><i class="fas fa-user-cog"></i></a> &#124;
        {% elseif currentUser %}
            <a class="{% if is_current_path('user-settings-' ~ lc, { 'name': currentUser.name }) %}current{% endif %}" href="{{ path_for('user-settings-' ~ lc, { 'name': currentUser.name }) }}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ 'user-settings-label'|trans }}"><i class="fas fa-user-cog"></i></a> &#124;
        {% endif %}
        <a href="{{ path_for('user-logout-' ~ glc) }}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ 'user-logout-label'|trans }}"><i class="fas fa-sign-out-alt"></i></a>
    {% endif %}
    </div>
    <div class="col-6 text-end d-lg-none position-static">
        {% include('partial/langswitch.html.twig') %}
    {% if has_role({0: 'member', 1: 'admin', 2: 'superadmin'}) %}
        <div class="btn-group float-right ms-3">
            <button type="button" class="btn btn-primary btn-burger dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bars"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right burger-menu">
                {% if has_role({0: 'superadmin'}) %}
                    <a class="dropdown-item {% if is_current_path('file-extension-show-' ~ lc) %}current{% endif %}" href="{{ path_for('file-extension-show-' ~ lc) }}"><i class="fas fa-fw fa-file text-start"></i> {{ 'file-extension-show-label'|trans }}</a>
                    <a class="dropdown-item {% if is_current_path('file-extension-create-' ~ lc) %}current{% endif %}" href="{{ path_for('file-extension-create-' ~ lc) }}"><i class="fas fa-fw fa-file-medical text-start"></i> {{ 'file-extension-create-label'|trans }}</a>
                    <a class="dropdown-item {% if is_current_path('user-show-all-' ~ lc) %}current{% endif %}" href="{{ path_for('user-show-all-' ~ lc) }}"><i class="fas fa-fw fa-users text-start"></i> {{ 'user-show-all-label'|trans }}</a>
                    <a class="dropdown-item {% if is_current_path('user-register-' ~ lc) %}current{% endif %}" href="{{ path_for('user-register-' ~ lc) }}"><i class="fas fa-fw fa-user-plus text-start"></i> {{ 'user-create-label'|trans }}</a>
                    <a class="dropdown-item {% if is_current_path('page-system-' ~ glc) %}current{% endif %}" href="{{ path_for('page-system-' ~ glc) }}"><i class="fas fa-fw fa-microchip text-start"></i> {{ 'page-system-label'|trans }}</a>
                    <a class="dropdown-item {% if is_current_path('page-log-' ~ glc) %}current{% endif %}" href="{{ path_for('page-log-' ~ glc) }}"><i class="fas fa-fw fa-clipboard-list text-start"></i> {{ 'page-log-label'|trans }}</a>
                {% endif %}
                {% if name %}
                    <a class="dropdown-item {% if is_current_path('user-show-' ~ lc, { 'name': name }) %}current{% endif %}" href="{{ path_for('user-show-' ~ lc, { 'name': name }) }}"><i class="fas fa-fw fa-user text-start"></i> {{ 'user-show-label'|trans }}</a>
                    <a class="dropdown-item {% if is_current_path('user-settings-' ~ lc, { 'name': name }) %}current{% endif %}" href="{{ path_for('user-settings-' ~ lc, { 'name': name }) }}"><i class="fas fa-fw fa-user-cog text-start"></i> {{ 'user-settings-label'|trans }}</a>
                {% elseif currentUser %}
                    <a class="dropdown-item {% if is_current_path('user-show-' ~ lc, { 'name': currentUser.name }) %}current{% endif %}" href="{{ path_for('user-show-' ~ lc, { 'name': currentUser.name }) }}"><i class="fas fa-fw fa-user text-start"></i> {{ 'user-show-label'|trans }}</a>
                    <a class="dropdown-item {% if is_current_path('user-settings-' ~ lc, { 'name': currentUser.name }) %}current{% endif %}" href="{{ path_for('user-settings-' ~ lc, { 'name': currentUser.name }) }}"><i class="fas fa-fw fa-user-cog text-start"></i> {{ 'user-settings-label'|trans }}</a>
                {% endif %}
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ path_for('user-logout-' ~ glc) }}"><i class="fas fa-fw fa-sign-out-alt text-start"></i> {{ 'user-logout-label'|trans }}</a>
            </div>
        </div>
    {% endif %}
    </div>
</div>
{% endhtmlcompress %}
