{% extends "layouts/layout.html.twig" %}

{% block content %}
    {% if user %}
    <div class="row">
        <div class="col-12 col-md-6 mb-3">
            <h1 class="mb-3">
                {{ user.name }}
                {% if user.hidden and has_role({0: 'superadmin'}) %}
                    <a href="{{ path_for('user-hidden-' ~ lc, { 'name': user.name }) }}" class="btn btn-success btn-sm" tabindex="-1" role="button" aria-disabled="true" data-toggle="tooltip" data-placement="top" title="{{ 'unlock-user'|trans }}"><i class="fas fa-lock fa-fw"></i></a>
                {% elseif has_role({0: 'superadmin'}) %}
                    <a href="{{ path_for('user-hidden-' ~ lc, { 'name': user.name }) }}" class="btn btn-warning btn-sm" tabindex="-1" role="button" aria-disabled="true" data-toggle="tooltip" data-placement="top" title="{{ 'lock-user'|trans }}"><i class="fas fa-unlock fa-fw"></i></a>
                {% endif %}
                {% if has_role({0: 'superadmin'}) %}<a href="{{ path_for('user-remove-' ~ lc, { 'name': user.name }) }}" class="btn btn-danger btn-sm ml-2" tabindex="-1" role="button" aria-disabled="true" data-toggle="tooltip" data-placement="top" title="{{ 'remove-user'|trans }}"><i class="fas fa-trash fa-fw"></i></a>{% endif %}
            </h1>
            {% if has_role({0: 'member', 1: 'admin', 2: 'superadmin'}) and user.id == current_user() %}
                {% if user.hasTwoFactor %}
                    <button type="button" class="btn btn-success"><i class="fas fa-lock mr-2"></i> {{ '2fa-enabled'|trans }}</button>
                {% else %}
                    <a href="{{ path_for('user-enable-two-factor-' ~ lc) }}" class="btn btn-warning" tabindex="-1" role="button" aria-disabled="true"><i class="fas fa-unlock mr-2"></i> {{ trans('user-two-factor-label') }}</a>
                {% endif %}
            {% endif %}
            
            {% if has_role({0: 'superadmin'}) and roles|length > 0 %}
            <div class="mt-5">
                <div class="mb-2">{{ 'user-role-edit'|trans|raw }}</div>
                {% for role in roles %}
                    {% set buttonStyle = 'warning' %}
                    {% if user.role.id is same as(role.id) %}
                        {% set buttonStyle = 'success' %}
                    {% endif %}
                    {% if loop.index > 1 %}
                    <a href="{{ path_for('user-update-role-' ~ lc, { 'name': user.name, 'role': role.name }) }}" class="btn btn-{{ buttonStyle }} mb-2" tabindex="-1" role="button" aria-disabled="true">{{ role.name }}</a>
                    {% endif %}
                {% endfor %}
            </div>
            {% endif %}
        </div>
        {# if is logged in user #}
        {% if has_role({0: 'member', 1: 'admin', 2: 'superadmin'}) and user.id == current_user() %}
        <div class="col-12 col-md-6 mb-5">
            <h2 class="mb-3">{{ 'upload-file'|trans }}</h2>
            <form action="{{ path_for('file-upload-' ~ lc) }}" method="post" enctype="multipart/form-data">
                <div class="form-row">
                    <div class="col-12">
                        <div class="custom-file mb-2">
                            <input type="file" name="upload" class="custom-file-input" id="file-upload">
                            <label class="custom-file-label" for="file-upload">{{ trans('choose-file', {1: maxFileSize}) }}</label>
                        </div>
                        <div class="switch">
                            <input type="hidden" name="file_included" value="0">
                            <input type="checkbox" name="file_included" id="file_included" value="1" checked>
                            <label class="btn btn-block" for="file_included">
                                <i class="fas fa-check"></i>
                                <i class="fas fa-times"></i>
                                {{ 'note-included'|trans }}
                            </label>
                        </div>
                        <textarea class="form-control mb-3" placeholder="{{ 'note'|trans }}" name="note" rows="3"></textarea>
                        <button type="submit" class="btn btn-primary btn-block">{{ 'upload'|trans }} <i class="fas fa-spin fa-sync-alt"></i></button>
                    </div>
                </div>
            </form>
        </div>
        
        <div class="col-12">
            {% if files|length > 0 %}
            <div class="table-responsive">
                <table class="table table-striped table-dark" data-order="[[ 3, &quot;desc&quot; ]]">
                    <thead>
                        <tr>
                            <th scope="col"><span class="nowrap">{{ 'lock-file'|trans }}</span> / <span class="nowrap">{{ 'unlock-file'|trans }}</span></th>
                            <th scope="col"><span class="nowrap">{{ 'file-name'|trans }}</span></th>
                            <th scope="col"><span class="nowrap">{{ 'file-size'|trans }}</span></th>
                            <th scope="col"><span class="nowrap">{{ 'created-at'|trans }}</span></th>
                            <th scope="col"><span class="nowrap">{{ 'remove'|trans }}</span></th>
                        </tr>
                    </thead>
                    <tbody>
                {# loop through database records #}
                    {% for file in files %}
                        <tr>
                            <td data-order="{{ file.hidden }}">
                                {% if file.hidden %}
                                    <a href="{{ path_for('file-hidden-' ~ lc, { 'uuid': file.id }) }}" class="btn btn-success btn-sm" tabindex="-1" role="button" aria-disabled="true" data-toggle="tooltip" data-placement="top" title="{{ 'unlock-file'|trans }}"><i class="fas fa-lock fa-fw"></i></a>
                                {% else %}
                                    <a href="{{ path_for('file-hidden-' ~ lc, { 'uuid': file.id }) }}" class="btn btn-warning btn-sm" tabindex="-1" role="button" aria-disabled="true" data-toggle="tooltip" data-placement="top" title="{{ 'lock-file'|trans }}"><i class="fas fa-unlock fa-fw"></i></a>
                                {% endif %}
                            </td>
                            <td><a href="{{ path_for('file-show-' ~ lc, { 'uuid': file.id }) }}" class="current nowrap" tabindex="-1" role="button" aria-disabled="true" data-toggle="tooltip" data-placement="top" title="{{ 'show-file'|trans }}">{{ file.name }}</a></td>
                            <td data-order="{{ file.size }}"><span class="nowrap">{{ file.size|file_size(2, 'dp'|trans, 'ts'|trans) }}</span></td>
                            <td data-order="{{ file.createdAt|date('c') }}"><span class="nowrap">{{ file.createdAt|date('datetime'|trans, 'timezone'|trans) }}</span></td>
                            <td><a href="{{ path_for('file-remove-' ~ lc, { 'uuid': file.id }) }}" class="btn btn-danger btn-sm ml-2" tabindex="-1" role="button" aria-disabled="true" data-toggle="tooltip" data-placement="top" title="{{ 'remove'|trans }}"><i class="fas fa-trash fa-fw"></i></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
                <h4>{{ 'no-files'|trans }}</h4>
            {% endif %}
        </div>
        {% else %}
        {# if is external request #}
        <div class="col-12 mb-5">
            {# loop through database records #}
            {% if has_role({0: 'superadmin'}) %}
                {% set publicFiles = files %}
            {% endif %}
            {% if publicFiles|length > 0 %}
            <div class="table-responsive">
                <table class="table table-striped table-dark" data-order="[[ {% if has_role({0: 'superadmin'}) %}3{% else %}2{% endif %}, &quot;desc&quot; ]]">
                    <thead>
                        <tr>
                            {% if has_role({0: 'superadmin'}) %}<th scope="col"><span class="nowrap">{{ 'lock-file'|trans }}</span> / <span class="nowrap">{{ 'unlock-file'|trans }}</span></th>{% endif %}
                            <th scope="col"><span class="nowrap">{{ 'file-name'|trans }}</span></th>
                            <th scope="col"><span class="nowrap">{{ 'file-size'|trans }}</span></th>
                            <th scope="col"><span class="nowrap">{{ 'created-at'|trans }}</span></th>
                            {% if has_role({0: 'superadmin'}) %}<th scope="col"><span class="nowrap">{{ 'remove'|trans }}</span></th>{% endif %}
                        </tr>
                    </thead>
                    <tbody>
                    {% for file in publicFiles %}
                        <tr>
                            {% if has_role({0: 'superadmin'}) %}
                            <td data-order="{{ file.hidden }}">
                                {% if file.hidden %}
                                    <a href="{{ path_for('file-hidden-' ~ lc, { 'uuid': file.id }) }}" class="btn btn-success btn-sm" tabindex="-1" role="button" aria-disabled="true" data-toggle="tooltip" data-placement="top" title="{{ 'unlock-file'|trans }}"><i class="fas fa-lock fa-fw"></i></a>
                                {% else %}
                                    <a href="{{ path_for('file-hidden-' ~ lc, { 'uuid': file.id }) }}" class="btn btn-warning btn-sm" tabindex="-1" role="button" aria-disabled="true" data-toggle="tooltip" data-placement="top" title="{{ 'lock-file'|trans }}"><i class="fas fa-unlock fa-fw"></i></a>
                                {% endif %}
                            </td>
                            {% endif %}
                            <td><a href="{{ path_for('file-show-' ~ lc, { 'uuid': file.id }) }}" class="current nowrap" tabindex="-1" role="button" aria-disabled="true" data-toggle="tooltip" data-placement="top" title="{{ 'show-file'|trans }}">{{ file.name }}</a></td>
                            <td data-order="{{ file.size }}"><span class="nowrap">{{ file.size|file_size(2, 'dp'|trans, 'ts'|trans) }}</span></td>
                            <td data-order="{{ file.createdAt|date('c') }}"><span class="nowrap">{{ file.createdAt|date('datetime'|trans, 'timezone'|trans) }}</span></td>
                            {% if has_role({0: 'superadmin'}) %}<td><a href="{{ path_for('file-remove-' ~ lc, { 'uuid': file.id }) }}" class="btn btn-danger btn-sm ml-2" tabindex="-1" role="button" aria-disabled="true" data-toggle="tooltip" data-placement="top" title="{{ 'remove'|trans }}"><i class="fas fa-trash fa-fw"></i></a></td>{% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
                {{ 'no-files'|trans }}
            {% endif %}
        </div>
        {% endif %}
    </div>
    {% endif %}
{% endblock %}