{% extends "layouts/layout.html.twig" %}

{% block content %}
    {% if user %}
    <div class="row">
        <div class="col-12 col-md-6 mb-3">
            <h1 class="mb-3">{{ user.name }}</h1>
        {% if has_role({0: 'member', 1: 'admin', 2: 'superadmin'}) and user.id == current_user() %}
            {% if user.hasTwoFactor %}
                <button type="button" class="btn btn-success"><i class="fas fa-lock mr-2"></i> {{ '2fa-enabled'|trans }}</button>
            {% else %}
                <a href="{{ path_for('user-enable-two-factor-' ~ lc) }}" class="btn btn-warning" tabindex="-1" role="button" aria-disabled="true"><i class="fas fa-unlock mr-2"></i> {{ trans('user-two-factor-label') }}</a>
            {% endif %}
        {% endif %}
        {# Admin functions #}
            <div class="row my-3">
            {% if has_role({0: 'superadmin'}) %}
                <div class="col-12">
                    <div class="h3">{{ 'admin-funcs'|trans }}</div>
                {% if roles|length > 0 %}
                    <div class="mb-2">
                        {{ 'role'|trans }}: 
                        <select class="custom-select custom-control-inline w-50 ml-2" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
                        {% for role in roles %}
                            {% set selected = '' %}
                            {% if user.role.id is same as(role.id) %}
                                {% set selected = 'selected' %}
                            {% endif %}
                            {% if loop.index > 1 %}
                                <option value="{{ path_for('user-update-role-' ~ lc, { 'name': user.name, 'role': role.name }) }}" {{ selected }}>{{ role.name|trans }}</option>
                            {% endif %}
                        {% endfor %}
                        </select>
                    </div>
                {% endif %}
                    <div class="mb-2">
                    {% if user.hidden %}
                        <span class="mr-2">{{ 'unlock-user'|trans }}:</span> <a href="{{ path_for('user-hidden-' ~ lc, { 'name': user.name }) }}" class="btn btn-success btn-sm" tabindex="-1" role="button" aria-disabled="true" data-toggle="tooltip" data-placement="top" title="{{ 'unlock-user'|trans }}"><i class="fas fa-lock fa-fw"></i></a>
                    {% else %}
                        <span class="mr-2">{{ 'lock-user'|trans }}:</span> <a href="{{ path_for('user-hidden-' ~ lc, { 'name': user.name }) }}" class="btn btn-warning btn-sm" tabindex="-1" role="button" aria-disabled="true" data-toggle="tooltip" data-placement="top" title="{{ 'lock-user'|trans }}"><i class="fas fa-unlock fa-fw"></i></a>
                    {% endif %}
                    </div>
                    <div class="">
                        <span class="mr-2">{{ 'remove-user'|trans }}:</span> <a href="{{ path_for('user-remove-' ~ lc, { 'name': user.name }) }}" class="btn btn-danger btn-sm" tabindex="-1" role="button" aria-disabled="true" data-remove="{{ user.name }}" data-toggle="tooltip" data-placement="top" title="{{ 'remove-user'|trans }}"><i class="fas fa-trash fa-fw"></i></a>
                    </div>
                </div>
            {% endif %}
            </div>
        </div>
            
        {# if is logged in and user is current user #}
        {% if has_role({0: 'member', 1: 'admin', 2: 'superadmin'}) and user.id is same as(current_user()) %}
        <div class="col-12 col-md-6 mb-5">
            <div class="h2 mb-3">{{ 'upload-file'|trans }}</div>
            <form action="{{ path_for('file-upload-' ~ lc) }}" method="post" enctype="multipart/form-data">
                <div class="form-row">
                    <div class="col-12">
                        <div class="custom-file mb-2">
                            <input type="file" name="upload" class="custom-file-input" id="file-upload">
                            <label class="custom-file-label" for="file-upload">{{ trans('choose-file', {1: maxFileSize}) }}</label>
                        </div>
                        <div class="switch">
                            <input type="hidden" name="file_included" value="0">
                            <input type="checkbox" name="file_included" id="file_included" value="1" checked>
                            <label class="btn btn-block" for="file_included">
                                <i class="fas fa-check"></i>
                                <i class="fas fa-times"></i>
                                {{ 'note-included'|trans }}
                            </label>
                        </div>
                        <textarea class="form-control mb-3" placeholder="{{ 'note'|trans }}" name="note" rows="3"></textarea>
                        <button type="submit" class="btn btn-primary btn-block">{{ 'upload'|trans }} <i class="fas fa-spin fa-sync-alt"></i></button>
                    </div>
                </div>
            </form>
        </div>
        {% endif %}
        
        
        {% if has_role({0: 'superadmin'}) or user.id is same as(current_user()) %}
        <div class="col-12 mb-5">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-id="fileTableTab" data-toggle="tab" href="#fileTable" role="tab" aria-controls="fileTable" aria-selected="true">{{ 'files'|trans }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-id="folderTableTab" data-toggle="tab" href="#folderTable" role="tab" aria-controls="folderTable" aria-selected="false">{{ 'folders'|trans }}</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade pt-3 show active" id="fileTable" role="tabpanel" aria-labelledby="folderTableTab">
                    {% set returnUrl = '' %}
                    {% include('partials/file-table.html.twig') %}
                </div>
                <div class="tab-pane fade pt-3" id="folderTable" role="tabpanel" aria-labelledby="folderTableTab">
                    {% set returnUrl = '?return=' ~ path_for('user-show-' ~ lc, { 'name': user.name }) ~ '#folderTableTab' %}
                    {% include('partials/folder-table.html.twig') %}
                </div>
            </div>
        </div>
        {% else %}
        <div class="col-12 mb-5">
            {{ include('partials/file-table.html.twig') }}
        </div>
        {% endif %}
    </div>
    </div>
        {# if is superadmin or user is current user #}
        {% if has_role({0: 'superadmin'}) or user.id is same as(current_user()) %}
            {% include('partials/modal-update-file.html.twig') %}
            {% include('partials/modal-update-folder.html.twig') %}
            {% include('partials/modal-create-folder.html.twig') %}
        {% endif %}
    {% endif %}
{% endblock %}